# DB Connection
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=orceu_finance
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Application Settings
ENVIRONMENT=development
API_VERSION=v1
DEBUG=True
